/* Contato */
#contato {
  padding: 66px 44px;
}

#contato h2 {
  color: #7eb1ea;
  margin-bottom: 33px;
}

/* Redes Sociais */
.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 22px;
}

.redes-sociais a {
  display: block;
  justify-content: center;
  font-size: 33px;
  color: #E0AA7A;
  margin: 0 16.5px;
  text-decoration: none;
}

.redes-sociais a:hover {
  color: #D8A40B;
} 